<ng-container *ngIf="display">
    <div class="popup" data-id="modal" (click)="handleClickClose($event)">
      <div class="popup-backdrop js-modal" data-id="modal"></div>
      <div class="popup-content">
        <div class="popup-header">
          <h2 class="mb-3">New category</h2>
          <span
            class="icon-close"
            (click)="handleClickClose($event)"
            data-id="modal"
          >
            <i class="fa-solid fa-xmark"></i>
          </span>
        </div>
        <div class="popup-body">
          <label for="name" class="text-uppercase placeholder">Name</label>
          <input type="text" name="name" (change)="handleChange($event)" />
          <p class="text-uppercase mb-2 placeholder">Color</p>
          <div class="paleta" (click)="handleClickColor($event)">
            <button
            *ngFor="let color of colors"
            [attr.data-color]="color.name"
            class="{{ color.className }}"
            [ngClass]="color.name === newCategory.color ? 'color-selected' : ''"
          ></button>
          </div>
          <p class="text-uppercase mt-4 mb-2 placeholder">Icon</p>
          <div class="icons" (click)="handleClickIcon($event)">
            <button
              class="circle-icon"
              [ngClass]="newCategory.icon === 'building' ? 'icon-selected' : ''"
              data-icon="building"
            >
              <i class="fa-solid fa-building-columns"></i>
  
            </button>
            <button
              class="circle-icon"
              [ngClass]="newCategory.icon === 'shopping' ? 'icon-selected' : ''"
              data-icon="shopping"
            >
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <button
              class="circle-icon"
              [ngClass]="newCategory.icon === 'health' ? 'icon-selected' : ''"
              data-icon="health"
            >
              <i class="fa-solid fa-laptop-medical"></i>
  
            </button>
            <button
              class="circle-icon"
              [ngClass]="newCategory.icon === 'gamepad' ? 'icon-selected' : ''"
              data-icon="gamepad"
            >
            <i class="fa-solid fa-gamepad"></i>
  
            </button>
            <button
              class="circle-icon"
              [ngClass]="newCategory.icon === 'creddit' ? 'icon-selected' : ''"
              data-icon="creddit"
            >
            <i class="fa-solid fa-credit-card"></i>
  
            </button>
            <button
              class="circle-icon"
              [ngClass]="newCategory.icon === 'education' ? 'icon-selected' : ''"
              data-icon="education"
            >
            <i class="fa-solid fa-chalkboard"></i>
  
            </button>
            <button
              class="circle-icon"
              [ngClass]="newCategory.icon === 'car' ? 'icon-selected' : ''"
              data-icon="car"
            >
              <i class="fa-solid fa-car"></i>
            </button>
            <button
              class="circle-icon"
              [ngClass]="newCategory.icon === 'gift' ? 'icon-selected' : ''"
              data-icon="gift"
            >
              <i class="fa-solid fa-gift"></i>
            </button>
          </div>
        </div>
  
        <div class="popup-footer">
          <button (click)="handleClickCreate()">Create</button>
        </div>
      </div>
    </div>
  </ng-container>
  