<div class="container-st">
    <h1>Categories</h1>
    <nav class="nav">
      <div (click)="handleClickTab($event, tabItem.alias)" *ngFor="let tabItem of tabs" class="nav-item" [ngClass]="tabActive === tabItem.alias ? 'nav-item--active' : ''">
        <div class="nav-icon">{{tabItem.icon}}</div>
        <p>{{ tabItem.name }}</p>
      </div>
    </nav>
  
    <div *ngIf="tabActive === 'expenses'">
      <div class="header">
        <div class="carrusel">
          <div class="icon-header">
            <i class="fa-solid fa-chevron-left"></i>
          </div>
          <div class="text-header">
            <p>March 2022</p>
          </div>
          <div class="icon-header">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
        <div class="prise">
          <p class="precio">$ 1,250</p>
          <p>Total Expenses</p>
        </div>
      </div>
      <div class="button-cont">
        <app-button
        *ngFor="let category of categories"
            [icon]="category.icon"
            [textSalario]="category.text"
            [money]="category.total"
            [color]="category.color"
          ></app-button>
        <div class="add-button" (click)="handleClickAddCategory()">
          <i class="fa-solid fa-plus"></i>
        </div>
        <app-add-new-categories
          [display]="isOpenModal"
          (clickSend)="getNewCategory($event)"
          (clickClose)="handleClickOutput($event)"></app-add-new-categories>
      </div>
    </div>
  </div>
  